{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<style>
	.contact-header {
        height : 200px;
	}

    #id_old_password, #id_new_password1, #id_new_password2 {
    	width: 100%;
        display: block;
        outline: none;
        border-bottom: 1px solid #bbbbbb;
        background-color: inherit;
        color: #404040;
        font-size: 21px;
        line-height: 23px;
        padding-bottom: 24px;
        padding-top: 30px;
    }

	#btn-submit {
		margin-top: 100px;
	}
</style>

{% endblock stylesheet %}

{% block script %}
{% endblock script %}


{% block content %}
<!-- main -->

<main role="main-inner-wrapper" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content" class="contact-header">
                <header>
                    <h2><span>HELLO!</span> we love to hear you.</h2>
                </header>
            </article>
        </div>


        <div class="clearfix"></div>


        <!-- contat-from-wrapper -->

        <div class="contat-from-wrapper">
            <div id="message"></div>
            <form method="post" action="." name="signin" id="signin">
                {% csrf_token %}
                <div class="row">
				   {{ form.old_password }}
                   <span class="field-error">{{ form.old_password.errors|striptags }}</span>
				   {{ form.new_password1 }}
                   <span class="field-error">{{ form.new_password1.errors|striptags }}</span>
				   {{ form.new_password2 }}
                   <span class="field-error">{{ form.old_password2.errors|striptags }}</span>

                </div>

                <div class="clearfix"></div>
                <input name="btn-submit" id="btn-submit" type="submit" value="login">
                <div id="simple-msg"></div>
            </form>
        </div>
        <!-- contat-from-wrapper -->
    </div>
</main>

<!-- main -->
{% endblock content %}
